<div id="con" fxLayout="column" fxLayoutAlign="start">

    <div fxFlex="grow" fxLayout="row" fxLayoutAlign='center center'>
        <div fxFlex="nogrow" fxLayout="row" fxLayoutGap="50px">
            <div fxFlex="nogrow">
                <mat-card>
                    <button mat-raised-button color="primary" (click)="openDialog()">Durak</button>
                    
                </mat-card>
            </div>
            <div fxFlex="nogrow">
                <mat-card>
                    <button mat-raised-button color="primary" (click)="openDialog()">Poker</button>
                </mat-card>
            </div>
            <div fxFlex="nogrow">
                <mat-card>
                    <button mat-raised-button color="primary" (click)="openDialog()">Whist</button>
                </mat-card>
            </div>
        </div>
    </div>
</div>